<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contacto</title>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
      @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
      @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
      @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
      @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
      @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
      @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap");
      @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap");
    </style>
    <link rel="stylesheet" href="/static/css/contacto.css" />
  </head>
  <body>
    <section class="section1">
      <div class="container">
        <div class="contactInfo">
          <div>
            <h2>Información de Contacto</h2>
            <ul class="info">
              <li>
                <span><img src="/static/img/location.png" /></span>
                <span>Argentina</span>
              </li>
              <li>
                <span><img src="/static/img/mail.png" /></span>
                <!-- <span>@gmail.com</span> -->
                <span><a href="correo electronico">@gmail.com</a></span>
              </li>
              <li>
                <span><img src="/static/img/call.png" /></span>
                <span>+549</span>
              </li>
            </ul>
          </div>
          <ul class="sci">
            <li>
              <a href="https://www.facebook.com/"
                ><img src="/static/img/facebook.png"
              /></a>
            </li>
            <li>
              <a href="https://www.instagram.com/"
                ><img src="/static/img/instagram.png"
              /></a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/"
                ><img src="/static/img/linkedin.png"
              /></a>
            </li>
          </ul>
        </div>
        <div class="contactForm">
          <h2>Enviar mensaje</h2>
          <div class="formBox">
            <div class="inputBox w50">
              <input type="text" name="" required />
              <span>Primer nombre</span>
            </div>
            <div class="inputBox w50">
              <input type="text" required />
              <span>Segundo nombre</span>
            </div>
            <div class="inputBox w50">
              <input type="email" required />
              <span>Direccion de correo</span>
            </div>
            <div class="inputBox w50">
              <input type="text" required />
              <span>Número de telefono</span>
            </div>
            <div class="inputBox w100">
              <textarea required></textarea>
              <span>Escribe el mensaje</span>
            </div>
            <div class="inputBox w100">
              <input type="submit" value="Enviar" />
            </div>
          </div>
        </div>
      </div>

      <a href="../index.html" class="btn-init">Volver a inicio</a>
    </section>
  </body>
</html>
