<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/tateti.css">
    <script src="../static/js/tateti.js" defer></script>
    <title>TaTeTi</title>
</head>
<body>
    <!-- Instrucciones para commits -->
    <!-- Recuerda hacer commits descriptivos y atómicos -->
    <!-- Escribe un mensaje claro que explique los cambios realizados -->
    <!-- Utiliza verbos en tiempo presente y en minúsculas -->
    <body>
        <div>
            <div class="bg">
        </div>
        <div class="bg bg2"></div>
        <div class="bg bg3"></div>
        <p id="turno" class="turno">Jugador X</p>
        <div id="tablero" class="tablero">
            <div class="celda">
                <div class="figura"></div>
            </div>
            <div class="celda">
                <div class="figura"></div>
            </div>
            <div class="celda">
                <div class="figura"></div>
            </div>
            <div class="celda">
                <div class="figura"></div>
            </div>
            <div class="celda">
                <div class="figura"></div>
            </div>
            <div class="celda">
                <div class="figura"></div>
            </div>
            <div class="celda">
                <div class="figura"></div>
            </div>
            <div class="celda">
                <div class="figura"></div>
            </div>
            <div class="celda">
                <div class="figura"></div>
            </div>
        </div>
        
        <div id="fin-del-juego" class="fin-del-juego">
            <p id="mensaje-final">¡Ganó O !</p>
            <button id="reiniciar">Jugar de nuevo</button>
        </div>
        </div>
        
        <footer>
            <a href="../index.html" class="btn-init">Volver a inicio</a>
        </footer>
</body>
</html>